<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
  </div>
<div class="row" style="height: 700px;margin: auto">
  <div class="col-6"style="border-right-style:dashed;overflow-y:scroll;height: 600px;"><app-restaurants></app-restaurants></div>
  <div class="col-1"><span style="margin: auto">
    <br><br>
    <a class="btn btn-primary"  routerLink="order" >我要點餐</a><br><br>
    <a class="btn btn-warning"  routerLink="adding">新增菜單</a></span>
  </div>
  <div class="col-5"><router-outlet></router-outlet></div>
</div>
<hr>





