{{restaurantForm.value | json}}
<div class="jumbotron">
    <h2>新增餐廳及菜單</h2>
    <form [formGroup]="restaurantForm" (ngSubmit)="onAddRestaurant(restaurantForm.value)">
        <div class="form-group">
            <input class="btn btn-lg btn-success" type="submit" value="新增">
        </div>
        <div class="form-group">
            <label>餐廳名字</label>
            <input type="text" class="form-control" [formControl]="restaurantForm.controls['restaurantName']">
        </div>
        <div class="form-group">
            <label>餐廳地址</label>
            <input type="text" class="form-control" [formControl]="restaurantForm.controls['restaurantAddress']">
        </div>
        <div class="form-group">
            <label>餐廳電話</label>
            <input type="text" class="form-control" [formControl]="restaurantForm.controls['restaurantTel']">
        </div>
        <div class="form-group">
            <div class="row" *ngFor="let dish of restaurantProduct.controls;let i=index">
                <div formArrayName="restaurantProduct" class="col-6">
                    <label>品項 {{i+1}}</label>
                    <input type="text" class="form-control" [formControlName]="i" (change)="canAddMenu(i)">
                </div>
                <div formArrayName="restaurantPrice" class="col-3">
                    <label>價錢{{i+1}}</label>
                    <input type="text" class="form-control" [formControlName]="i" (change)="canAddMenu(i)">
                </div>
                <div class="col-3">
                    <br>
                    <button class="btn btn-danger" (click)="deleteMenu(i)">刪除</button>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-sm m-2"  [disabled]="boolAddMenu" (click)="addMenu()">增加菜單＋</button>
        </div>













    </form>
</div>