<p>
  adding works!
</p>
<form #restaurantForm="ngForm" (ngSubmit)="onAddRestaurant(restaurantForm.value)">
    <input class ="btn btn-success" type="submit" value="新增">
  <table class="table" style="margin: auto">
      <tr>
          <td>餐廳名字</td>
          <td><input type="text" name="restaurantName" ngModel></td>
      </tr>
      <tr>
          <td>餐廳地址</td>
          <td><input type="text" name="restaurantAddress" ngModel></td>
      </tr>
      <tr>
          <td>餐廳電話</td>
          <td><input type="text" name="restaurantTel" ngModel></td>
      </tr>
  </table>
<div #menuList></div>
</form>
<button  class="btn btn-primary" (click)="addMenu()">菜單+</button>